.container{
    margin-top: 150px
}

.confim-form{
    border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      margin: 0 auto;
      max-width: 400px;
}

  #formBox
{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;
}

.head{
    text-align: center;
}

[nz-form] {
    max-width: 600px;
  }

  .phone-select {
    width: 70px;
  }

  .register-are {
    margin-bottom: 8px;
  }

 .login-text {
     text-align: center;
 }