<nz-card nzTitle="Open Ticket">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
<nz-form-item>
  <nz-form-label [nzSpan]= 5 nzRequired>Client Name</nz-form-label>
  <nz-form-control [nzSpan]= 14 nzErrorTip="Please input client full name!">
    <input nz-input formControlName="name" placeholder="Client Name" />
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label [nzSpan]= 5  nzRequired>Phone Number</nz-form-label>
  <nz-form-control [nzSpan]= 14  nzErrorTip="Please input client phone number!">
    <input nz-input minlength="12" maxlength="12" formControlName="phone" placeholder="Phone Number e.g: 260*********" />
  </nz-form-control>
</nz-form-item>

<nz-form-item>
    <nz-form-label [nzSpan]="5">Email</nz-form-label>
    <nz-form-control nzHasFeedback [nzSpan]= 14  nzErrorTip="Email is not valid">
      <input nz-input formControlName="email"  placeholder="Email" name="email" email />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>Product</nz-form-label>
    <nz-form-control [nzSpan]=14   nzHasFeedback nzRequired>
      <nz-select name="select-validate" nzPlaceHolder="Select Product" formControlName="product">
        <nz-option  *ngFor="let product of productList" nzValue={{product.product}} nzLabel={{product.product}}></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>Department</nz-form-label>
    <nz-form-control [nzSpan]= 14  nzHasFeedback>
      <nz-select name="select-validate" formControlName="department" nzPlaceHolder="Select Department">
        <nz-option  *ngFor="let department of departmentList" nzValue={{department.dept_name}} nzLabel={{department.dept_name}}></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>Comment</nz-form-label>
    <nz-form-control [nzSpan]= 14 nzErrorTip="Please write something here!">
      <textarea formControlName="comment" nz-input rows="2" placeholder="write any thing"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control style="text-align: center;">
      <button nz-button nzType="default" (click)="loadOne()" [nzLoading]="isLoadingOne" type="submit" >Open Ticket</button>
    </nz-form-control>
  </nz-form-item>

</form>
</nz-card>

