[nz-form]{
    max-width: 100%;
  }

  button:hover{
    color: purple;
    border-color: purple;
  }
  
input:hover{
  border-color: purple;
}

textarea:hover{
  border-color: purple;
}

nz-select:hover{
  border-color: purple;
}

nz-option:hover{
  border-color: purple;
}

.numeric-input .ant-tooltip-inner {
  min-width: 32px;
  min-height: 37px;
}

.numeric-input .numeric-input-title {
  font-size: 14px;
}