<nz-card nzTitle="Closed Tickets">
  <div nz-row style="margin-bottom: 10px;">
    <span style="float: right; margin-right: 10px;">
        <button nz-button nzSize="small" nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown
            #dropdown="nzDropdown" [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible"
            nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter>Search
            <i nz-icon nzType="search" nzTheme="outline"></i>
        </button>
    </span>
</div>
  <nz-table #ticketsTable [nzData]="searchTickets" [nzLoading]="loading" [nzPageSize]="5">
          <thead>
            <tr>
              <th>Ticket Number</th>
              <th>Client</th>
              <th>Department</th>
              <th>Product</th>
              <th>Status</th>
              <th>Created on</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ticketsTable.data">
              <td>{{data.ticketNum}}</td>
              <td>{{data.phone}}</td>
              <td>{{data.department}}</td>
              <td>{{data.product}}</td>
              <td>{{data.status}}</td>
              <td>{{data.createdOn}}</td>
              <td>
                <a (click)="showModal(data)">View Ticket</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
</nz-card>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="search-box">
    <input type="text" nz-input placeholder="Search Ticket" [(ngModel)]="searchValue" />
    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
      Search
    </button>
    <button nz-button nzSize="small" (click)="reset()">Reset</button>
  </div>
</nz-dropdown-menu>

<nz-modal
[(nzVisible)]="isVisible"
[nzTitle]="modalTitle"
[nzContent]="modalContent"
[nzFooter]="modalFooter"
(nzOnCancel)="handleCancel()"
>
<ng-template #modalTitle>
  Ticket Details
</ng-template>

<ng-template #modalContent>
  <div style="width: 500px;">
    <p>Ticket Number : {{selectedTicket.ticketNum}}</p>
    <p>Client Name   : {{selectedTicket.name}}</p>
    <p>Client        : {{selectedTicket.phone}}</p>
    <p>Department    : {{selectedTicket.department}}</p>
    <p>Product       : {{selectedTicket.product}}</p>
    <p>Status        : {{selectedTicket.status}}</p>
    <p>Created By    : {{selectedTicket.createdBy}}</p>
    <p>Comment       : {{selectedTicket.comment}}</p>
    <p>Closing Comment: {{selectedTicket.closeTicketComment}}</p>
    <p>Closed By     : {{selectedTicket.closedBy}}</p>
    <p>Created on    : {{selectedTicket.createdOn}}</p>
  </div>
</ng-template>

<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
</ng-template>
</nz-modal>
