<nz-card nzTitle="Pending Tickets" >
  <div nz-row style="margin-bottom: 10px;">
    <span style="float: right; margin-right: 10px;">
        <button nz-button nzSize="small" nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown
            #dropdown="nzDropdown" [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible"
            nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter>Search
            <i nz-icon nzType="search" nzTheme="outline"></i>
        </button>
    </span>
</div>
  <nz-table #ticketsTable [nzData]="searchTickets" [nzLoading]="loading" [nzPageSize]="5">
          <thead>
            <tr>
              <th>Ticket Number</th>
              <th >Client Phone</th>
              <th>Department</th>
              <th>Product</th>
              <th>Status</th>
              <th>Created on</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ticketsTable.data">
              <td>{{data.ticketNum}}</td>
              <td>{{data.phone}}</td>
              <td>{{data.department}}</td>
              <td>{{data.product}}</td>
              <td>{{data.status}}</td>
              <td>{{data.createdOn}}</td>
              <td>
                <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
                  More
                  <i nz-icon nzType="down"></i>
                </button>

                <nz-dropdown-menu #menu4="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item  (click)="showModal(data)">View Ticket</li>
                    <li nz-menu-item  (click)="showClosingModal(data)">Comment</li>
                  </ul>
                </nz-dropdown-menu>
              </td>
            </tr>
          </tbody>
        </nz-table>
</nz-card>



<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="search-box">
    <input type="text" nz-input placeholder="Search Ticket" [(ngModel)]="searchValue" />
    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
      Search
    </button>
    <button nz-button nzSize="small" (click)="reset()">Reset</button>
  </div>
</nz-dropdown-menu>



<nz-modal
[(nzVisible)]="isVisibleV"
[nzTitle]="modalViewTitle"
[nzContent]="modalViewContent"
[nzFooter]="modalViewFooter"
(nzOnCancel)="handleCancelView()"
>
<ng-template #modalViewTitle>
Ticket Details
</ng-template>

<ng-template #modalViewContent>
<div style="width: 500px;">
<p>Ticket Number : {{selectedTicket.ticketNum}}</p>
<p>Client Name   : {{selectedTicket.name}}</p>
<p>Client MSISND        : {{selectedTicket.phone}}</p>
<p>Department    : {{selectedTicket.department}}</p>
<p>Product       : {{selectedTicket.product}}</p>
<p>Status        : {{selectedTicket.status}}</p>
<p>Created By    : {{selectedTicket.createdBy}}</p>
<p>Comment       : {{selectedTicket.comment}}</p>
<p>Created on    : {{selectedTicket.createdOn}}</p>
</div>
</ng-template>

<ng-template #modalViewFooter>
<button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
</ng-template>
</nz-modal>


<nz-modal
[(nzVisible)]="isVisibleClosing"
[nzTitle]="modalTitle"
[nzContent]="modalContent"
[nzFooter]="modalFooter"
(nzOnCancel)="handleCancel()"
>
<ng-template #modalTitle>
  Ticket Details
</ng-template>

<ng-template #modalContent>
  <div style="width: 500px;">
    <p>Ticket Number : {{selectedTicket.ticketNum}}</p>
    <p>Client Name   : {{selectedTicket.name}}</p>
    <p>Client        : {{selectedTicket.phone}}</p>
    <p>Department    : {{selectedTicket.department}}</p>
    <p>Product       : {{selectedTicket.product}}</p>
    <p>Status        : {{selectedTicket.status}}</p>
    <p>Created By    : {{selectedTicket.createdBy}}</p>
    <p>Comment       : {{selectedTicket.comment}}</p>
    <p>Created on    : {{selectedTicket.createdOn}}</p>
  </div>
  
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(selectedTicket)">
    <nz-form-item>
        <nz-form-control [nzSpan]="14" nzErrorTip="Please write something here!">
        <textarea [(ngModel)]="closeTicketComment" formControlName="closeTicketComment" nz-input rows="2" placeholder="write closing comment"></textarea>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control style="text-align: center;">
        <button nz-button  [nzLoading]="updatingTicket">Close Ticket</button>
        </nz-form-control>
    </nz-form-item>
</form>
</ng-template>

<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
</ng-template>
</nz-modal>
